body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;
}

.container {
    background: #1e293b;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 5px;  
}

button:hover {
    background: #16a34a;
}

#sonuc {
    margin-top: 15px;
    font-weight: 18px;
}